<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapple.consume.mapper.MkOrderMapper">


    <select id="getBySnBatch" resultType="com.mapple.consume.entity.MkOrder">
        select id, status, session_id, product_id from mk_order where order_sn in
        <foreach item="orderSn" collection="collection" open="(" separator="," close=")">
            #{orderSn}
        </foreach>
    </select>
</mapper>
